body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1;
}

header {
  background-color: #219ebc;
  margin: 0;
  width: 100%;
  border-radius: 10px;
  padding-bottom: 10px;
}
header p {
  font-weight: bolder;
}
nav h2 {
  margin-left: 40px;
}
a {
  color: #55a630;
}
body {
  background-color: #f1faee;
}
header p,
aside,
h1 {
  margin-left: 40%;
}
img {
  border-radius: 50%;
  margin-top: 10px;
}

section,
footer {
  margin-left: 24%;
}

#menu {
  width: 20%;
  background-color: #c8b6ff;
  padding-top: 40px;
}
input{
  margin: 21px 21px;
  padding: 13px;
  border: 1px solid transparent;
}
button{
  margin:12px 140px ;
  padding: 10px;
  width: 20%;
  background-color: #219ebc;
  color: white;
  border-radius: 2px;
  border: 1px solid #219ebc;
}
textarea{
  width: 30%;
  padding-bottom: 100px;
  margin-top: 10px;
}
footer a{
  margin: 21px;
}

.mes{
  position: relative;
  bottom: 110px;
  right: 10px;
}
#menu li{
  margin-top: 10px;
}