*{
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1;
  background-color: #f1faee;
  margin: 0;
}

header {
 
  margin: 0;
  width: 100%;
  border-radius: 10px;
  padding-bottom: 10px;
}
header p {
  font-weight: bolder;
}
nav h2 {
  margin-left: 40px;
}
a {
  color: #55a630;
}

header p,
aside,
h1 {
  margin-left: 40%;
}
img {
  border-radius: 50%;
  margin-top: 10px;
}

section,
footer {
  margin-left: 24%;
}

#menu {
  width: 20%;
  background-color: #c8b6ff;
  padding-top: 40px;
}
input{
  margin: 21px 21px;
  padding: 13px;
  border: 1px solid transparent;
}
button{
  margin:12px 140px ;
  padding: 10px;
  width: 20%;
  background-color: #219ebc;
  color: white;
  border-radius: 2px;
  border: 1px solid #219ebc;
}
textarea{
  width: 30%;
  padding-bottom: 100px;
  margin-top: 10px;
}
footer a{
  margin: 21px;
}

.mes{
  position: relative;
  bottom: 110px;
  right: 10px;
}
#menu li{
  margin-top: 10px;
}
#container{
  background:#219ebc url(/images/Hero\ image.jpg) no-repeat center;
  background-size: cover;
  height: 300px;
  position: relative;
  background-origin: content-box;
  width: 100%;
}
@media screen and (max-width: 600px) {
  header{
    font-size: 10px;
}
footer a{
  display: block;
}
#menu{
  width: 100%;
  text-align: center;
  padding: 20px;
}

nav ul li{
  display: inline-block;
  margin: 10px;
}
.content, .foot{
margin-right: 10%;
padding: 30px;
}
textarea{
  width: 50%;
}

section,
footer {
  margin-left: 0;
}
}

@media screen and (min-width: 768px) {
  #menu{
    display: inline-block;
  }
  .content, .foot{
   position: relative;
   bottom: 190px;
  }

}
@media screen and (min-width: 992px) {
  .content, .foot{
   font-size: 20px;
   }
}